{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Available Jobs</h2>

<div class="row">

    {% for job in jobs %}
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5>{{ job.title }}</h5>
                <p class="text-muted">{{ job.company }} • {{ job.location }}</p>

                <a href="{% url 'job_app:job_detail' job.id %}" class="btn btn-primary btn-sm">
    View Details
</a>


            </div>
        </div>
    </div>
    {% empty %}
    <p>No jobs available.</p>
    {% endfor %}

</div>

{% endblock %}
